.bg{
    width: 100%;
    height: 580px;
    margin-top: -100px;
}
.booking-field{
    width: 85%;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
}
.form{
    margin-top: -30%;
}
.booking{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.booking-title{
    margin-bottom: 20px;
    padding-top: 20px;
}
.booking-title h2{
    font-size: 20px;
    margin: -65px;
    color: #0E2586;
    font-weight: 600;
    background-color: #fff;
    box-shadow: 0 0 8px #EFF7FF;
    padding: 18px 120px 18px 120px;
    border-radius: 10px;
}
.location{
    width: 100%;
    display: flex;
    
}
.picup-location{
    width: 50%;
    border: 1px solid gainsboro;
    padding: 0px 0 8px 7px;
    border-radius: 10px;
}
.picup-location select{
    border: none;
    width: 90%;
    cursor: pointer;
}
.picup-location p{
    font-size: 12px;
    color: #adadad;
}

.drop-location p{
    font-size: 12px;
    color: #adadad;
}
.drop-location select{
    border: none;
    width: 90%;
    cursor: pointer;
}
.drop-location{
    width: 50%;
    border: 1px solid gainsboro;
    padding: 4px 0 8px 7px;
    border-radius: 10px;
}
.location select{
    /* width: 100%; */
    height: 50px;
}
.date{
    width: 100%;
    display: flex;
}
.journey-date{
    width: 50%;
  margin: 0 0 0 20px; 
  border: 1px solid gainsboro;
    padding: 20px 0 8px 7px;
    border-radius: 10px; 
    
}
.journey-date h2{
    text-align:left ;
    margin: -16px 0 0 0;
}
.return-date{
    width: 50%;
    margin: 0 0 0 20px;
    border: 1px solid gainsboro;
    padding: 3px 0 8px 10px;
    border-radius: 10px; 
}
.journey-date input{
    width: 100%;
    padding: 8px 0 8px 15px;
    outline: none;
    cursor: pointer;
}
.journey-date p{
    font-size: 12px;
    text-align: center;
    color: #adadad;
    margin-top: 10px;
}
.return-date p{
    font-size: 12px;
    text-align: center;
    color: #adadad;
    margin-top: 10px;
}
.return-date input{
    width: 100%;
    padding: 8px 0 8px 15px;
    outline: none;
    cursor: pointer;
}
.booking-form-field{
    width: 95%; 
    margin: auto;
    display: flex;
    /* padding-bottom: 60px; */
}
.search-btn {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.search-btn input{
    background-color: #FCCD03;
    padding: 12px 55px;
    border-radius: 10px;
    cursor: pointer;
}
.calender{
    display: flex;
    align-items: center;
}
.form-control{
    display: flex;
    margin-bottom: 30px;
    margin-left: 30px;
    outline: none;
    border: none;
    flex-direction: row;
    justify-content: left;
}
.form-control .one-way label{
    color: #0E2586;
    font-weight: 500;
}
.form-control .round-way label{
    color: #0E2586;
    font-weight: 500;
}
.form-control .one-way{
    display: flex;
    align-items: center;
}
.form-control label{
    padding-right: 8px;
}
.form-control .round-way{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.calender-field{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom-input {
    width: 100%;
    padding: 10px;
  }
  
  .custom-input:focus {
    outline: none;
  }
  .journey-date input {
   border: none;
  }
  .journey-date input :focus{
      border: none;
      outline: none;
  }
  .return-date input {
   border: none;
  }
  .return-date input :focus{
      border: none;
      outline: none;
  }
  .calender-field :disabled{
      background-color: #fff;
      display: none;
  }