.navbar{
    width: 90%;
    margin: auto;
}
.logocolor{
    width: 150px;
}
.logo img{
    width: 150px;
}
.navbar li{
    color: #1C3C6B;
    font-weight: 500;
    font-size: 14px;
}
.account{
    font-size: 18px;
}